body {
  background-color: rgb(13,13,13);
  color: #e0e0e0;
  margin: 0;
  padding: env(safe-area-inset-top, 1rem) 
           env(safe-area-inset-right, 1rem) 
           env(safe-area-inset-bottom, 1rem) 
           env(safe-area-inset-left, 1rem);
  /* fallback padding is 1rem if no safe-area defined */
}

.card {
  background-color: rgb(13,13,13);
  border: 1px solid #2c2c2c;
}

#counter {
  font-size: 30vh;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40vh;
}

.digital {
  font-family: 'Share Tech Mono', monospace;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}
