body {
  background-color: #000;
  color: #e0e0e0;
}

.card {
  background-color: #000;
  border: 1px solid #2c2c2c;
}

#counter {
  font-size: 35vh;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;
}

.digital {
  font-family: 'Share Tech Mono', monospace;
}
