body {
  background-color: rgb(13,13,13);
  color: #e0e0e0;
}

.card {
  background-color: rgb(13,13,13);;
  border: 1px solid #2c2c2c;
}

#counter {
  font-size: 30vh;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40vh;
}

.digital {
  font-family: 'Share Tech Mono', monospace;
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}
